@model List<BertoniTestNoriarmanMVC.Models.Photos>

@{
    ViewBag.Title = "Photos";
}

<div class="container">
    <h2>Photos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Album Id
                    </th>
                    <th>
                        Photo Id
                    </th>
                    <th>
                        Photo Title
                    </th>
                    <th>
                        Photo Url
                    </th>
                    <th>
                        Thumbnail Url
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                <tr>
                    <td>
                        @a.albumId
                    </td>
                    <td>
                        @a.id
                    </td>
                    <td>
                        @a.title
                    </td>
                    <td>
                        @a.url
                    </td>
                    <td>
                        @a.thumbnailUrl
                    </td>
                    <td>
                        @Html.ActionLink("View Comments", "Comments", new { id = @a.id })
                    </td>
                </tr>
                }

            </tbody>
        </table>
</div>
